body{
    background-image: url(fondbleu.jpg);
}

#pdp{
    vertical-align: middle;
    border-radius: 50% 50%;
    border : 2px groove #000000;
}

header{
    text-align: center;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}

nav{
    text-align: center;
    width: 100%;
    height: 100px;
    border: #ccc 1px solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}
.vertical { 
    border-right: 1px solid #3259bd; 
    height: 710px; 
    display: inline-block;
    float: left;
} 

section{
    line-height: 30px;
	background-color: #221d1b;
    color: white;
	height: 700px;
	width: 250px;
	padding: 5px;
	float: left;
}
article{
    
	width: 510px;
	float: left;
	padding: 5px;
	height: 700px;
	padding-left: 20px;
}
#section{
    width: 510px;
	float: left;
	padding: 5px;
	height: 700px;
	padding-left: 20px;
}

a{
    color: white;
}

#footer{
    font-size: 16px;
    clear: both;
	background-color: #201c1c;
	color: white;
	text-align: center;
	padding: 20px;
}